.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 5px;
  background: transparent;
  z-index: 99;
  @media screen and (min-width: 480px) {
    padding: 20px 40px;
  }
}
.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: inherit;
  font-size: 26px;
  font-weight: 600;
  color: antiquewhite;
  user-select: none;
  padding-right: 15px;

  @media screen and (max-width: 479px) {
    font-size: 22px;
    padding-right: 8px;
  }
}
