.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(../../image/Saturn.jpg), no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 10px;
  
    @media screen and (min-width: 768px) {
      min-width: 768px;
      padding: 0 20px;
    }
    @media screen and (min-width: 1280px) {
      min-width: 1280px;
    }
  }