.filter {
    display: block;


    &__input {
        font-size: 18px;
        outline: none;
        display: block;
        padding: 8px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:focus {
            border: none;
            box-shadow: 2px 2px 5px 2px rgb(115, 90, 230);
        }

    }

    &__label {

        font-size: 18px;
        font-weight: 500;
        color: black;
    }
}