.menu {
  display: flex;
  align-items: center;
  gap: 12px;

  &__user {
    font-family: inherit;
    font-size: 18px;
    color: antiquewhite;
    font-weight: 500;
  }
  &__btn {
    position: relative;
    text-decoration: none;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    color: antiquewhite;
    background-color: transparent;
    outline: none;
    border: none;

    &::after {
      border-bottom: 1px solid antiquewhite;
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 1px;
      background-color: antiquewhite;
      border-radius: 5px;
      transform: translateX(0);
      transition: transform 0.5s;
      display: none;
    }
    &:hover::after {
      transform: translateX(1);
      display: block;
    }
  }
}
